<section class="py-16 font-sans sm:py-20 bg-primary-brown">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Что это?</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <img
          class="h-auto w-autho rounded-2xl"
          src="/assets/logo.png"
          alt="Hero picture"
        />
        <p class="text-base text-primary-200 dark:text-primary-200 sm:text-lg">
          Закрытый чат, в котором каждую неделю я — профессиональный 3D-визуализатор с 8+ годами опыта — разбираю работы участников.
          Это регулярная, практическая обратная связь, благодаря которой твои рендеры станут сильнее — визуально и технически. 
          Это как нанять персонального тренера, который указывает на ошибки в технике и помогает исправить. 
        </p>
      </div>
    </div>
  </div>
</section>
