<section class="bg-primary-brown py-16 font-sans sm:py-20">
        <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                <div class="grid gap-12 lg:grid-cols-2 lg:gap-8">
                        <div class="flex flex-col items-start gap-8 sm:gap-10">
                                <img
                                        class="w-autho h-auto rounded-2xl"
                                        src="/assets/logo.png"
                                        alt="Hero picture"
                                />
                        </div>
                        <div>
                                <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
                                        Что это?
                                </h2>
                                <p class="text-base">
                                        Закрытый Telegram-чат, в котором каждую неделю я —
                                        профессиональный 3D-визуализатор с 8+ годами опыта —
                                        разбираю работы участников и даю подробную обратную связь.
                                </p>
                        </div>
                </div>
        </div>
</section>
