<section id="subscribe" class="bg-primary-azure py-16 text-primary-brown sm:py-20">
        <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
                <div
                        class="flex flex-col items-center gap-8 rounded-3xl bg-primary-creme px-5 py-16 text-primary-brown sm:gap-10"
                >
                        <div class="flex flex-col gap-4 sm:gap-6">
                                <h2
                                        class="mx-auto max-w-sm text-3xl font-medium tracking-tight sm:text-4xl"
                                >
                                        Цена
                                </h2>
                                <p
                                        class="mx-auto max-w-sm text-3xl font-medium tracking-tight sm:text-4xl"
                                >
                                        💳 19 990 ₽ / за 3 месяца участия.
                                </p>
                                <p
                                        class="mx-auto max-w-sm text-3xl font-medium tracking-tight line-through [text-decoration-thickness:3px] sm:text-3xl"
                                >
                                        24 990 ₽.
                                </p>
                                <p class="mx-auto max-w-2xl text-lg text-primary-brown">
                                        Доступ к чату откроется сразу после оплаты — на e-mail,
                                        который ты укажешь при покупке.
                                </p>
                                <p class="mx-auto max-w-2xl text-lg text-primary-brown">
                                        Нажимай на кнопку и отправляй свою первую визуализацию —
                                        увидимся в чате!
                                </p>
                        </div>
                        <a
                                href="https://payform.ru/qi862EQ/"
                                class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-brown px-5 py-3 text-base font-medium text-primary-azure text-white transition hover:bg-primary-950 hover:text-primary-brown focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:text-primary-creme dark:focus-visible:outline-primary-400"
                        >
                                Оплатить
                        </a>
                </div>
        </div>
</section>
