<section class="bg-primary-azure py-16 text-primary-brown sm:py-20">
        <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                <div
                        class="bg-yellow-50 text-gray-900 border-yellow-300 rounded-2xl border p-6 shadow-xl"
                >
                        <ul class="mb-4 space-y-1 text-lg">
                                <li>
                                        3 месяца участия — <span
                                                class="text-green-600 font-semibold">19 900 ₽</span
                                        >
                                </li>
                                <li class="text-gray-500 line-through">24 900 ₽</li>
                        </ul>
                        <p class="text-red-600 font-medium">
                                Количество мест ограничено! Участие в клубе возможно только при
                                наличии свободных слотов.
                        </p>
                </div>
                <p
                        class="bg-yellow-100 border-yellow-400 text-yellow-800 my-10 rounded border-l-4 p-6"
                >
                        💡 Это стоимость одной консультации у меня — а здесь ты получаешь обратную
                        связь от меня в течение целых <strong>3x месяцев</strong>.
                </p>
        </div>
</section>
