---
const services = [
  {
    step: '01',
    name: '',
    description:
      'Ты начнёшь видеть слабые места в своих рендерах и узнаешь, как прокачать их с минимальными усилиями',
  },
  {
    step: '02',
    name: '',
    description:
      'Сформируешь вкус — научишься отличать “ну, неплохо” от “по-настоящему круто”',
  },
  {
    step: '03',
    name: '',
    description:
      'Появится привычка доводить работу до финального вау-эффекта, а не просто «сдать»',
  },
  {
    step: '04',
    name: '',
    description:
      'Ты сэкономишь месяцы проб и ошибок, учась на чужих разборках, а не на своих провалах',
  },
];
---

<section class="py-16 sm:py-20 bg-primary-brown">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl dark:text-primary-creme">Что тебе это даст?</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4 dark:text-primary-brown/10">
                <h3 class="text-xl font-medium dark:text-primary-creme">{service.name}</h3>
                <p class="text-primary-brown dark:text-primary-brown text-base sm:text-lg dark:text-primary-creme">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
