---
const services = [
        {
                step: '01',
                name: '',
                description: 'Ты начнёшь видеть слабые места своих рендеров',
        },
        {
                step: '02',
                name: '',
                description:
                        'Узнаешь простые приёмы, которые делают картинку реалистичнее и выразительнеe',
        },
        {
                step: '03',
                name: '',
                description:
                        'У тебя появится привычка дорабатывать работу до «вау» результата, а не просто сдавать',
        },
        {
                step: '04',
                name: '',
                description:
                        'Ты будешь расти также за счёт чужих ошибок, смотря разборы других участников',
        },
];
---

<section class="bg-primary-brown py-16 sm:py-20">
        <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                <div class="flex flex-col gap-12 sm:gap-16">
                        <h2
                                class="text-3xl font-medium tracking-tight dark:text-primary-creme sm:text-4xl"
                        >
                                Что тебе это даст?
                        </h2>
                        <div class="grid gap-8 lg:grid-cols-3">
                                {
                                        services.map((service) => (
                                                <div class="flex flex-col gap-12 rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10">
                                                        <p class="text-sm">{service.step}</p>
                                                        <div class="flex flex-col gap-4 dark:text-primary-brown/10">
                                                                <h3 class="text-xl font-medium dark:text-primary-creme">
                                                                        {service.name}
                                                                </h3>
                                                                <p class="text-base text-primary-brown dark:text-primary-brown dark:text-primary-creme sm:text-lg">
                                                                        {service.description}
                                                                </p>
                                                        </div>
                                                </div>
                                        ))
                                }
                        </div>
                </div>
        </div>
</section>
